<!doctype html>
<html>
<style>
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    
    table {
        text-align: left;
    }
    
    table tr {
        vertical-align: top;
    }
    
    video {
        height: 480px;
        width: 800px;
    }
    
    textarea {
        height: 480px;
        width: 320px;
    }
    
    .cue {
        height: 480px;
        width: 480px;
    }
</style>
<!-- Angular Material CSS using GitCDN to load directly from `bower-material/master` -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>html 5 player</title>
</head>

<body ng-app="player_app" ng-controller="playerCtrl as player" ng-cloak ng-strict-di>
    <md-content>
        <main>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <video controls ng-src="videos/Google%20Ideas-%20Project%20Shield.mp4" id='video'>
                                <track onload='angular.element(this).controller().setTrack(this);' ng-src="{{player.track_url}}" kind="subtitles" srclang="en" label="English" default>
                            </video>
                        </td>
                        <td>
                            <textarea ng-model="player.vtt" ng-show="player.isEdit"></textarea>
                            <md-content class="cue" ng-hide="player.isEdit">
                                <section>
                                    <md-subheader class="md-primary">Track</md-subheader>
                                    <md-card ng-repeat="cue in player.cues">
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-subhead">
                                                    {{$index+1}}. (
                                                    {{cue.startTime}}
                                                        &rArr;
                                                    {{cue.endTime}}
                                                    )
                                                </span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content>
                                            {{cue.text}}
                                        </md-card-content>
                                        <md-card-actions layout="row">
                                            <md-button class="md-icon-button" aria-label="go to" ng-click="player.setVideoCurrentTime(cue)">
                                                <md-icon>touch_app</md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button" aria-label="reply" ng-click="player.setReply(cue)">
                                                <md-icon>edit</md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button" aria-label="reply" ng-click="player.setReply(cue)">
                                                <md-icon>reply</md-icon>
                                            </md-button>
                                        </md-card-actions>
                                    </md-card>
                                    <!--            
                                    <md-list layout="column" layout-padding>
                                                                                <md-list-item class="secondary-button-padding" ng-repeat="cue in player.cues" ng-click='player.setCurrentTime(cue)'>
                                        <md-list-item ng-repeat="cue in player.cues">
                                            <div class="md-list-item-text">
                                                <var>{{$index+1}}.</var>
                                                <samp>{{cue.startTime}}</samp>&rArr;<samp>{{cue.endTime}}</samp>
                                                <br/> {{cue.text}}
                                                <p layout='column'>
                                                    <md-button class="md-icon-button" aria-label="reply" ng-click="player.setReply(cue)">
                                                        <md-icon>edit</md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button" aria-label="reply" ng-click="player.setReply(cue)">
                                                        <md-icon>reply</md-icon>
                                                    </md-button>
                                                </p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
-->
                                </section>
                            </md-content>
                        </td>
                    </tr>
                </tbody>
            </table>
            <md-content layout='column'>
                <div layout='row'>
                    <md-input-container flex='50'>
                        <label>Start</label>
                        <input ng-model="player.tmpStartTime">
                    </md-input-container>
                    <p>
                        <md-button class='md-icon-button' ng-click="player.getVideoCurrentTime('tmpStartTime')">
                            <md-icon>timer</md-icon>
                        </md-button>
                    </p>
                    <md-input-container flex='50'>
                        <label>End</label>
                        <input ng-model="player.tmpEndTime">
                    </md-input-container>
                    <p>
                        <md-button class='md-icon-button' ng-click="player.getVideoCurrentTime('tmpEndTime')">
                            <md-icon>timer</md-icon>
                        </md-button>
                    </p>
                </div>
                <div layout='column'>
                    <md-input-container flex='auto'>
                        <label>Subtitle</label>
                        <textarea></textarea>
                    </md-input-container>
                    <div layout='row' layout-align="end center">
                        <md-button class="md-raised md-primary">
                            Save
                            <md-icon>save</md-icon>
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="player.subtitleInit()">
                            Cancel
                            <md-icon>clear</md-icon>
                        </md-button>
                        <!--
                        <md-button class="md-raised" ng-click="player.setEdit()">
                            Edit
                            <md-icon>mode_edit</md-icon>
                        </md-button>
-->
                    </div>
                </div>
            </md-content>
        </main>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="comments_view">
        <md-toolbar class="md-theme-light">
            <div class="md-toolbar-tools">
                <h1 class="md-toolbar-tools">Comments</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="player.close()">
                    <md-icon>
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-list>
                <md-list-item class="md-3-line md-long-text" ng-repeat="comment in player.comments">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ comment }}</h3>
                        <h4>{{ comment }}</h4>
                        <p>{{ comment }}</p>
                    </div>
                </md-list-item>
            </md-list>
            <form>
                <div layout='row'>
                    <md-input-container md-no-float class='md-block' flex='100'>
                        <input type="text" id="testInput" ng-model="player.tmp_comment" placeholder="Enter comment..." />
                    </md-input-container>
                </div>
            </form>
        </md-content>
    </md-sidenav>
</body>
<script type="application/javascript" src="//code.angularjs.org/snapshot/angular.min.js"></script>
<script type="application/javascript" src="//code.angularjs.org/snapshot/angular-route.min.js"></script>
<script type="application/javascript" src="//code.angularjs.org/snapshot/angular-animate.min.js"></script>
<script type="application/javascript" src="//code.angularjs.org/snapshot/angular-aria.min.js"></script>
<script type="application/javascript" src="//code.angularjs.org/snapshot/angular-touch.min.js"></script>
<script type="application/javascript" src="//code.angularjs.org/snapshot/angular-cookies.min.js"></script>
<script type="application/javascript" src="//code.angularjs.org/snapshot/angular-sanitize.min.js"></script>
<script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script type="application/javascript" src="js/player.js"></script>

</html>